::-webkit-input-placeholder {
   text-transform: initial;
}

:-moz-placeholder { 
   text-transform: initial;
}

::-moz-placeholder {  
   text-transform: initial;
}

:-ms-input-placeholder { 
   text-transform: initial;
}


.div	{
	background: #eeeeee;
}

body	{
	overflow: hidden;
	color: white;
	background-image: url("http://blog.hostbaby.com/wp-content/uploads/2013/07/scuffedstatic_blue1400x900.jpg");
	margin: 0;
	padding: 0;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

form	{
	text-align: center;	
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 300px;
}

.margin-min	{
	top: 0px;
	margin: 5px;
}

input	{
	border-width: 0;
	height: 40px;
    border: 0;
    border-radius: 35px;
    padding: 0px 10px 0px 10px;
}

input[type="submit"]	{
	width: 100%;
	background: #FF3365;
}

input[type="submit"]:hover	{
	opacity:0.75;
}

input[type="submit"]:disabled	{
	opacity:1.0;
}

input[type="text"]{
	text-transform: uppercase;
}
input[type="text"], input[type="password"]	{
	width: 80%;
	background: #EEEEEE;
	padding-left: 45px;
	outline: none;
}



fieldset	{
	border-radius: 15px;
}

.inputField	{
	position: relative;
	top: 0;
	left: 0; 
}

img 	{
	position: absolute;
	height: 30px;
	width: 30px;
	top: 0px;
	margin-top: 10px;
}
img.inf	{
	margin-left: 5px;
	left: 10px;
}

img.error	{
	visibility: hidden;
	margin-right: 5px;
	right: 10px;
}

div.error {
	background: red;
	color: white;
    display: none;
}
    
.error:hover + div.error {
    display: block;
}










