body	{
	margin: 0;
	padding: 0;
	padding-top: 85px;
}

#addit_info	{
	display: none;
}
.toolbar	{
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	background: #f3f3f3;
	position: fixed;
	width: 100%;
}

ul	{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li > div	{
	padding: 15px;
}

.tabcontent	{
	display: none;
}


li	{
	cursor: pointer;
	font-size: 175%;
	text-align: center;
	min-width: 150px;
	float: left;
}
li.selected	{
	visibility: visible;
	background: #008cba;
	color: white;
}

.last	{
	float: right;
}

li:hover	{
	background: #dddddd;
}

li:hover.selected	{
	opacity: 0.8;
	background: #008cba;
	color: white;
}

.small	{
	margin: 0;
	padding: 0;
}

input[type="submit"].no_button	{
	width: 100%;
	height: 100%;
	padding: 15px;
	margin: 0;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 100%;
	text-align: center;
	font-family: inherit;
	outline: none;
}

.center	{
	text-align: center;
}

.inner	{
	display: inline-block;
}

table	{
	margin: 40px;	
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
	min-width: 90px;
	text-aling: center;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
table th {
    color: white;
    background-color: black;
}

.split-container
{
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
}

button	{
	
	border: 2px solid black;
	border-radius: 8px;
	text-align: center;
	padding: 10px;
	margin: 10px;
	
	min-width: 80px;
	
	background: none;
	outline: none;
	
	font-size: 100%;
	font-family: inherit;
}

button.fancy	{
	min-width: 120px;
	margin-right: 80px;
	margin-left: 80px;
}

button:hover	{
	background: #eee;
}
